 @media (max-width: 768px) {
     main{
        div.main{
        div.fotoavt1{
        flex-wrap:wrap;   flex-direction: column; gap:20px; align-items: center;
        img{
            width: 93%;
          
        }
    }
        p.bank1{
          font-size:8vw;
        }
        div.bank{flex-wrap: wrap;  justify-content: space-evenly;
            div{
                height: 16vw;width:42%;
            }
            div:nth-child(1){
            img{
                margin-top:3.5vw; max-width: 90%;margin-left:1vw;
    height: auto; 
            }
        }
        div:nth-child(2){
            img{
                margin-top:5vw;margin-left:4vw; max-width: 90%;
    height: auto; 
            }
        }
        div:nth-child(3){
            img{
                margin-top:3vw;margin-left:4vw; max-width: 90%;
    height: auto; 
            }
        }
        div:nth-child(4){
            img{
                margin-top:3vw;margin-left:1.6vw; max-width: 90%;
    height: auto; 
            }
        }
        }
    }
}
 }