@media(max-width:900px) {
    main {
        div.main {
            div.car {
                .carinfo {
                    .price0 {
                          font-size:5vw;
                          .obkredit{
                            button.kredit1{
                                    font-size:5vw;padding:3vw 4vw ;
                            }
                          }
                    }
                    div.specs{.spec{
                        font-size:4vw;}
                    }
                }
            }
        }
    }
}