@media(max-width:850px) {
    main {
        div.main {
            div.tech { .start{
                width: 100%;
            }
                div.s {
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }
    }
}