@import '_contact1200.scss';

main {
    margin-top: 2vw;
    .main {
        margin-left: 35px;
        margin-right: 35px;

        .high {
            margin-left: 5px;

            span {
                color: #737373;
                font-size: 13px;
            }

            a {
                text-decoration: none;
                color: #737373;
                font-size: 13px;
                outline: #EFF0F0 1px;

                &:hover {
                    color: #555;
                }
            }

        }

        .contact1234 {
 

            h1 {text-align: left;    
                font-weight: bold;


                font-size: 45px;
            }

            .line {text-align: left;    
                background-color: #dcdcdc;
                height: 1.3px;
                margin: 20px 0px;
                border-radius: 20px;
            }
             .block1, .block2 {
        display: inline-block;
        vertical-align: top;
       
        margin-right: 60px;
        .block11,.block21{font-weight: bold;font-size: 25px;
        }
        .block12,.block22{
            margin-left:47px;
        }
        .block12{
            font-weight: bold;color:black;font-size: 18px;
        }
        .block22{
            font-size: 16px;
        }
        img {
            height: 31px;width: 31px;margin-right: 15px;position: relative;top:6.5px;
        }
    }
    
     iframe {
        display: block;
        width: 100%;
        height: 400px;
       
  position:relative;overflow:hidden; border:0px;border-radius: 20px;margin-bottom:5vw;margin-top:5vw;
    }
    .block111 { margin-bottom: 50px;
display: flex; justify-content: space-between;
        
        .block123 {width: 40%; display: inline-block;
            p:first-child{
            font-size: 45px;
            font-weight: bold;vertical-align: top;
            margin-bottom: 15px;
            }
            p:last-child{color:#737373;line-height: 160%;}
        }


        img {
         position: relative;
            color: #444;
            line-height: 1.7;
            height: auto;
            width: 650px;
            border-radius: 12px;
           display: inline-block;
        }

       
    }
        }
    }
}