@media (max-width: 480px) {
   
     .burgermenu {.list{li.none{display:block;}}}

header{   .modal1{.mod1{
     span.close1 {
        top: 3vw;
right:-8vw;        font-size: 15vw;
    }
      margin: 60% auto;

   .fon01{ 
    padding-bottom: 5vw;
     p:nth-child(2) {
     font-size: 3.5vw;}
    p:nth-child(1) {
     font-size: 6vw;}}

    }}


div.modal{div.mod{
    

    #close123{   top: -6vw;right:-2vw;
        font-size: 14vw;}}}

    #promo{
              p.phone-main {
                  font-size: 4.5vw;
                  
              }
              p.call-link {

                  font-size: 4.5vw;
                  img {
                      height: 4.5vw;
                  }
              }
            }
}
    div.header-top {
        #f {
            display: none;
        }

        div.logo-block {
            flex: 1;

           div.logo-text {
                p#logo {
                    font-size:7vw;

                }

                p#logo1 {
                    font-size: 5vw;

                }
            }

            #img12 {
                width: 30%;
                height: 80px;

            }
        }
    }
}