 @media (max-width: 768px) {
     header {
          div.header-promo{
              p.phone-main {
                  font-size: 3vw;
                  
              }
              p.call-link {

                  font-size: 3vw;
                  img {
                      height: 3vw;
                  }
              }
            }





         
div.mod1{width: 55%;
          margin: 60% auto;
    img.img30{  top:4vw;    margin: -10% auto;
    }
    span.close1{
       top:6.5vw;right:-5vw;font-size:10vw;
    }
       div{ 
        div.fon01 {       

        p:nth-child(1) {
           font-size: 5vw;

      margin-top: 5vw;
    }

    p:nth-child(2) {
     font-size: 3.5vw;
      margin-top:2vw;
    
    }

    button {
     margin-top:2vw;
    }}}
}


         div.modal {
             div.mod {  margin: 40% auto;
                 span.close {
                     top: -7%;
                     right: -3%;
                     font-size:10vw;
                 }

                 

                 width: 90vw;
                 height: auto;

                 div {   min-height: 80vw;

background-image:none;
                    
                     div.fon0 { background-color: white;

                         div.blockzv {
                             width: 100%;
                             margin-top:5.5vw;
                               
                             p:nth-child(1) {
                                 font-size: 7vw;
                                 font-weight: bold;
                                    margin-left: 8vw;

                             }

                             .form23 {
                                 input {
                                    margin-left: 6.5vw;
                                     padding: 3vw 4vw;
                                     font-size: 3vw;
                                     margin-top: 5.5vw;
                                     width: 80%;
                                 }

                                 button {
                                     margin-top: 5.5vw;
                                     padding: 3vw 4vw;
                                     width: 80%;
                                     font-size: 3vw;
                             margin-left: 6.5vw;

                                 }
                                 
                             }

                             p.zvonok {
                                 font-size: 2.8vw;width:80% ;   color:gray;   margin-top:4vw;                       margin-left: 9vw;

                             }

                         }
                     }
                 }

             }
         }
     }


     

    div.header-top {
         div.logo-block {
img{
    width: 50%;
}
             div.logo-text {

                 p#logo {
                     font-size:3.5vw;

                 }

                p#logo1 {
                     font-size: 2.5vw;

                 }
             }
         }

         .divider {
             display: none;
         }

         .slogan {
             display: none;

             .red {

                 display: none;
             }
        
            }
            
     }
 }