@import '_main768.scss';
@import '_main480.scss';


main {
    display: flex;
    margin-top: 2vw;
    gap: 1.0vw;
    flex-wrap: wrap;

    .foto1 {
        background-image: url('../images/carsmain/4.png');
        background-size: 100% 100%;

        width: 100%;
        height: 45vw;
        text-align: center;

        p:nth-child(1) {
            margin-top: 4vw;
            font-weight: bold;
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(2) {
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(3) {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            background-color: white;
            font-size: 2vw;
            padding: 1vw 0vw;
            margin: 1.5% auto;
            width: 13vw;
            font-weight: bold;
            border-radius: 20vw;
            transition: color 0.3s ease;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease;
            }

        }


    }

    .foto2 {
        background-image: url('../images/carsmain/5.png');
        background-size: 100% 100%;

        width: 100%;
        height: 45vw;
        text-align: center;

        p:nth-child(1) {
            margin-top: 4vw;
            font-weight: bold;
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(2) {
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(3) {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            background-color: white;
            font-size: 2vw;
            padding: 1vw 0vw;
            margin: 1.5% auto;
            width: 13vw;
            font-weight: bold;
            border-radius: 20vw;
            transition: color 0.3s ease;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease;
            }

        }


    }

    .foto3 {
        background-image: url('../images/carsmain/6.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 49.45%;
        height: 35vw;
        text-align: center;

        p:nth-child(1) {
            margin-top: 5vw;
            font-weight: bold;
            color: white;
            font-size: 2vw;
        }

        p:nth-child(2) {
            color: white;
            font-size: 2vw;
        }

        p:nth-child(3) {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            background-color: white;
            font-size: 1.5vw;
            padding: 1vw 0vw;
            margin: 1.5% auto;
            width: 13vw;
            font-weight: bold;
            border-radius: 20vw;
            transition: color 0.3s ease;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease;
            }

        }


    }

    .foto4 {
        background-image: url('../images/carsmain/7.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: auto;
        width: 49.5%;
        height: 35vw;
        text-align: center;

        p:nth-child(1) {
            margin-top: 5vw;
            font-weight: bold;
            color: white;
            font-size: 2vw;
        }

        p:nth-child(2) {
            color: white;
            font-size: 2vw;
        }

        p:nth-child(3) {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            background-color: white;
            font-size: 1.5vw;
            padding: 1vw 0vw;
            margin: 1.5% auto;
            width: 13vw;
            font-weight: bold;
            border-radius: 20vw;
            transition: color 0.3s ease;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease;
            }

        }


    }

    .foto5 {
        background-image: url('../images/carsmain/8.jpg');
        background-size: 100% 100%;

        width: 100%;
        height: 45vw;
        text-align: center;

        p:nth-child(1) {
            margin-top: 4vw;
            font-weight: bold;
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(2) {
            color: white;
            font-size: 2.5vw;
        }

        p:nth-child(3) {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            background-color: white;
            font-size: 2vw;
            padding: 1vw 0vw;
            margin: 1.5% auto;
            width: 13vw;
            font-weight: bold;
            border-radius: 20vw;
            transition: color 0.3s ease;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease;
            }

        }


    }

    .bank1 {
        font-weight: bold;
        margin-left: 1vw;
        margin-top: 3vw;
        font-size: 4.5vw;
    }

    .bank {
        display: flex;
        margin-left: 1vw;
        margin-top: 2vw;
        gap: 2vw;
        width: 100%;

        div {
            background-color: #f0f0f0;
            border-radius: 10px;
            height: 8.5vw;
            width: 23.25%;

        }

        div:nth-child(1) {
            img {
                margin-top: 2vw;
                max-width: 90%;
                margin-left: 1vw;
                height: auto;
            }
        }

        div:nth-child(2) {
            img {
                margin-top: 2.7vw;
                margin-left: 2vw;
                max-width: 90%;
                height: auto;
            }
        }

        div:nth-child(3) {
            img {
                margin-top: 1.6vw;
                margin-left: 2.6vw;
                max-width: 90%;
                height: auto;
            }
        }

        div:nth-child(4) {
            img {
                margin-top: 1.8vw;
                margin-left: 1.4vw;
                max-width: 90%;
                height: auto;
            }
        }

    }

    .grad {
        margin-top: 50px;
        padding-bottom:5vw ;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(47, 47, 47, 0.5)), url((unknown));

        p.serv {
            font-size: 30px;
            width: 100%;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 30px;
            color: white;
            font-weight: bold;
        }

        div {
            width: 85%;
            margin: 0 auto;
            gap: 20px;

            div {
                display: flex;
                flex-flow: column;
               
                gap: 0px;
                text-align: center;
                width: 30%;
                margin: 0;
                align-self: flex-start;

                img {
                    margin: 0 auto;
                    max-width: 20%;
                    height: auto;
                }

                .text2 {
                    font-size: 25px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }

                p.text1 {
                    font-size: 17px;
                    margin: 0;
                    line-height: 25px;
                }
            }

            color: white;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
        }
    }
}