div div div,nav {margin-top:20px;}
nav a {margin:10px;text-decoration: none;font-size: 20px;}


.nav li {display: inline;}
a {display: inline-block;}
ul li {border:1px solid black;padding: 10px;}

ul{text-align: center;margin: 40px 5px 0px 0px;}
